<div class="card-content" [@esFavorito]="destinos.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destinos.nombre}}</h3>
        <p>SERVICIOS</p>
        <ul>
            <li *ngFor = "let s of destinos.servicios">
                <span [ngSwitch] = "s">
                    <i *ngSwitchCase = "'desayuno'" style="color: blue;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                <i class="material-icons md-18">thumb_up</i>
            </a>
            &nbsp;
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                <i class="material-icons md-18">thumb_down</i>
            </a>
            &nbsp;
            Votos: {{destinos.votes}}
        </div>
        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">IR!</a>
        <!-- <span [style.display]="destinos.isSelected() ? '' : 'none'">PREFERIDO -->
        <span *ngIf="destinos.isSelected()">
            <span ngNonBlindable> Preferido </span>
        </span>
        <a [routerLink]="['/destino']">Ver detalle</a>
    </div>
</div>
